$accentColor = #01506f

table {
	margin: 1.3em auto;
}

table th,
table td {
	padding: 8px;
	line-height: 1.333333rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}

table th {
	font-weight: bold
}

table thead th {
	vertical-align: bottom
}

table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}

table tbody+tbody {
	border-top: 2px solid #ddd
}